<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ZooConnect Acceptance Tests" verbose="1">

    <!-- Jesús Velasco: orden explícito especie -> hábitat -> animal -->
    <test name="jesusvelasco" preserve-order="true">
        <classes>
            <class name="edu.bo.ucb.jesusvelasco.RegistroEspecieTest"/>
            <class name="edu.bo.ucb.jesusvelasco.RegistroHabitatTest"/>
            <class name="edu.bo.ucb.jesusvelasco.RegistroAnimalTest"/>
        </classes>
    </test>

    <!-- Manuel Jiménez: sin orden específico -->
    <test name="manueljimenez">
        <packages>
            <package name="edu.bo.ucb.manueljimenez"/>
        </packages>
    </test>

    <!-- Oscar Menacho: sin orden específico -->
    <test name="oscarmenacho">
        <packages>
            <package name="edu.bo.ucb.oscarmenacho"/>
        </packages>
    </test>

    <!-- Manuel Delgadillo: sin orden específico -->
    <test name="manueldelgadillo">
        <packages>
            <package name="edu.bo.ucb.manueldelgadillo"/>
        </packages>
    </test>

</suite>
