<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ZooConnect Acceptance Tests" verbose="1">
    <test name="jesusvelasco" preserve-order="true">
        <classes>
            <class name="edu.bo.ucb.jesusvelasco.RegistroEspecieTest"/>
            <class name="edu.bo.ucb.jesusvelasco.RegistroHabitatTest"/>
            <class name="edu.bo.ucb.jesusvelasco.RegistroAnimalTest"/>
        </classes>
    </test>
    <test name="Otros tests">
        <packages>
            <package name="edu.bo.ucb.*">
                <exclude name="edu.bo.ucb.ejemplos"/>
                <exclude name="edu.bo.ucb.jesusvelasco"/>
            </package>
        </packages>
    </test>
</suite>
