<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Zoo Connect Suite" verbose="1" parallel="false">
    <test name="Oscar Menacho Tests" preserve-order="true">
        <classes>
            <class name="edu.bo.ucb.oscarmenacho.TestCase47Test"/>
            <class name="edu.bo.ucb.oscarmenacho.TestCase48Test"/>
            <class name="edu.bo.ucb.oscarmenacho.TestCase58Test"/>
        </classes>
    </test>
    <test name="Manuel Jimenez Tests" preserve-order="true">
        <classes>
            <class name="edu.bo.ucb.manueljimenez.RegistroTareaTest"/>
            <class name="edu.bo.ucb.manueljimenez.AsignarTareaTest"/>
            <class name="edu.bo.ucb.manueljimenez.PlanificarRutinaTest"/>
        </classes>
    </test>
    <test name="Jesus Velasco Tests" preserve-order="true">
        <classes>
            <class name="edu.bo.ucb.jesusvelasco.RegistroEspecieTest"/>
            <class name="edu.bo.ucb.jesusvelasco.RegistroHabitatTest"/>
            <class name="edu.bo.ucb.jesusvelasco.RegistroAnimalTest"/>
        </classes>
    </test>
    <test name="Manuel Delgadillo Tests" preserve-order="true">
        <classes>
            <class name="edu.bo.ucb.manueldelgadillo.Cp31TipoAtencionTest"/>
            <class name="edu.bo.ucb.manueldelgadillo.Cp32ConsultaClinicaTest"/>
            <class name="edu.bo.ucb.manueldelgadillo.Cp45CerrarHistorialTest"/>
        </classes>
    </test>
</suite>
